<div class="container min-vh-100 d-flex align-items-center justify-content-center">
  <div class="col-md-8 col-lg-6">

    <mat-card class="pay-card border-0">

      <div class="d-flex justify-content-between align-items-center px-3 pt-3">
        <h5 class="m-0 fw-bold">Select Payment Method</h5>
        <span class="close-btn" routerLink="" style="cursor: pointer;">×</span>
      </div>

      <mat-card-content class="p-3">

        <div class="pay-item" [routerLink]="['/upi']">
          <i class="fa fa-mobile-alt text-primary"></i>
          <div>
            <h6>UPI</h6>
            <small>GPay, PhonePe, Paytm</small>
          </div>
        </div>

        <div class="pay-item" [routerLink]="['/debit']">
          <i class="fa fa-credit-card text-success"></i>
          <div>
            <h6>Debit / Credit Card</h6>
            <small>Visa, MasterCard, RuPay</small>
          </div>
        </div>

        <div class="pay-item" [routerLink]="['/net']">
          <i class="fa fa-university text-warning"></i>
          <div>
            <h6>Net Banking</h6>
            <small>All major banks supported</small>
          </div>
        </div>

        <div class="pay-item" [routerLink]="['/cash']">
          <i class="fa fa-money-bill-wave text-danger"></i>
          <div>
            <h6>Cash on Delivery</h6>
            <small>Pay when product arrives</small>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>