<div class="container mt-5">
    <div class="row g-4 text-center">

        <div class="col-md-3">
            <a routerLink="beauty" class="cat-card beauty">
                <i class="fa-solid fa-child fa-3x mb-2"></i>
                <h5>Beauty</h5>
                <span>Explore Products</span>
            </a>
        </div>

        <div class="col-md-3">
            <a routerLink="mobile" class="cat-card mobile">
                <i class="fa-solid fa-mobile fa-3x mb-2"></i>
                <h5>Mobiles</h5>
                <span>Latest Phones</span>
            </a>
        </div>

        <div class="col-md-3">
            <a routerLink="laptop" class="cat-card laptop">
                <i class="fa-solid fa-laptop fa-3x mb-2"></i>
                <h5>Laptops</h5>
                <span>Top Brands</span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="carts" class="cat-card carts">
                <i class="fa-solid fa-laptop fa-3x mb-2"></i>
                <h5>carts</h5>
                <span>Top carts</span>
            </a>
        </div>
    </div>
</div>